* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body {
    width: 320px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #0000;
    color:black;
    /*font-family: 'Righteous', cursive;*/
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #2C2889;
    /**#fae8b8**/
}
#header{
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
}
/*paralax*/
.parallax {
    margin-top: 0;
    /* The image used */
    background-image: url("../Assets/worship.png");
  
    /* Full height */
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }
.parallax h1{ 
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
}
.parallax h2{
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
}
.logoH{
    position: absolute;
    top: 20px;
    left: 20px;
}
.lastQuote{
    width: 100%;
    background-color: blue;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-family: 'Righteous', cursive;
}
.arrowDown{
    margin-left: auto;
    margin-right: auto;
}
#bodyOne{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-image: url(../Assets/prayingHands.png);
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: center;
    background-position: top;
    margin-top: 20px;
    
}
.calendarTwo{
    display: none;
}
#bodyOne h1{
    font-size: 40px;
    color: #EE4123;
    line-height: 15px;
    font-family: 'Righteous', cursive;
}

#bodyOne h2{
    font-size: 30px;
    line-height: 25px;
}
#bodyOne h3{
    font-size: 20px;
    line-height: 25px;
}
.sunDay{
    width: 220px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #EE4123;
    font-size: 25px;
    text-align: center;
    color: white;
    border-radius: 15px;
    font-family: 'Righteous', cursive;
}
#bodyTwo{
    box-sizing: border-box;
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url(../Assets/prayer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.prayer {
    height: 100%;
   margin-top: 0;
}
.mission {
    width: 100%;
    box-sizing: border-box;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}
.mission h1{
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue; 
}
.mission h3{
    max-width: 650px;
}
.fourDivs{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.divA {
    width: 320px;
    width: 100%;
    height: 180px;
    display: flex;justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #2b2889af;
    margin: 10px;
    padding: 9px;
    border-radius: 15px;
}
.divA h2{
    font-size: 18px;
}
.headerM{
    font-family: 'Righteous', cursive;
}
.divA p{
    font-family: 'Righteous', cursive;
}

/*Body 3*/
#bodyThree{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background-image: url(../Assets/Asset3.png);
    margin-top: 10px;
    background-size: 150px;
    background-size: cover;
}
#bodyThree h1 {
    font-family: 'Righteous', cursive;
}
.ourVision{
    font-size: 40px;
    color: #EE4123;
}
.threeWords{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.threeWords div{
    width: 100%;
    text-shadow: 1px 1px 1px #000, 
    3px 3px 5px blue;
    color: white;
    line-height: 20px;
}
.ephesians{
    font-family: 'Righteous', cursive;
    color: #EE4123;
}
.letsPad{
    padding-left:20px;
    padding-right:20px;
    text-align: center;
}
#bodyThree p {
    font-size: 20px;
}
.parG{
    max-width: 600px;
    padding: 15px;
}
/*body4*/
#bodyFour{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}
#topPart, #bottomPart {
    width: 320px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
#bottomPart{
    flex-flow: column-reverse;
}
.fourLeft, .fourRight{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}
#bodyFour h1{
    font-family: 'Righteous', cursive;
    font-size: 40px;
}
#bodyFour p{
    font-size: 18px;
}
/*body 5*/
#bodyfive{
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    background-image: url(../Assets/book.png);
    background-size: cover;
    background-position: center;
}

.stateMent{
    width: 100%;
    box-sizing: border-box;
    text-align: center;   
    margin-top: 10px;
    color: white;
}
.stateMent h1{
    font-family: 'Righteous', cursive;
    font-size: 40px;
    text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue; 
}
.stateMent h2{
    font-size: 18px;
}
.stateMent h3{
    font-family: 'Righteous', cursive;
    font-size: 18px;
}
/* bottom Part*/

#bottomPart2{
    width: 100%;
    height: 600px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   background-image: url(../Assets/bottomBackground.png);
   background-size: cover;
   background-position: bottom;
}


.boxCont {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5px;
    
}
.boxCont h1{
    font-family: 'Righteous', cursive;
    font-size: 45px;
    color: #EE4123;
}
.divsThree{
    width: 100%;
    box-sizing: border-box;
    display: flex;
flex-direction: column;
justify-content: center;

}
.partS{
    width: 280px;
    box-sizing: border-box;
    height: auto;
    padding: 7px;
    background: #2C2889;
    color: white;
    margin: 15px;
    border-radius: 25px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
}

/* footer */
#footerS{
    width: 100%;
    height: auto;
    background-color: #2C2889;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
}
.iWantThree{
    width: 300px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    
}
.iWantThree a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.lastQuote a {
    color: white;
    text-decoration: none;
}