* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body {
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #0000;
    color:black;
    /*font-family: 'Righteous', cursive;*/
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #2C2889;
    /**#fae8b8**/
}
#header{
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
}
/*paralax*/
.parallax {
    margin-top: 0;
    /* The image used */
    background-image: url("../Assets/worship.png");
  
    /* Full height */
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.parallax h1{ 
    font-size: 60px;
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
}
.parallax h2{
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
}
.logoH{
    position: absolute;
    top: 20px;
    left: 20px;
}
.lastQuote{
    width: 100%;
    background-color: blue;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-family: 'Righteous', cursive;
}
.arrowDown{
    margin-left: auto;
    margin-right: auto;
}
#bodyOne{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-image: url(../Assets/prayingHands.png);
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: center;
    background-position: top;
    margin-top: 20px;
    
}
.calendarTwo{
    display: none;
}
#bodyOne h1{
    font-size: 110px;
    color: #EE4123;
    line-height: 15px;
    font-family: 'Righteous', cursive;
}

#bodyOne h2{
    font-size: 40px;
    line-height: 15px;
}
#bodyOne h3{
    font-size: 30px;
    line-height: 15px;
}
.sunDay{
    width: 220px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #EE4123;
    font-size: 25px;
    text-align: center;
    color: white;
    border-radius: 15px;
    font-family: 'Righteous', cursive;
}
#bodyTwo{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.prayer {
    width: 100%;
    height: 100%;
    position: inherit;
}
.mission {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mission h1{
    font-family: 'Righteous', cursive;
}
.mission h3{
    width: 650px;
}
.fourDivs{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.divA {
    width: 300px;
    height: 180px;
    display: flex;justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #2b2889af;
    margin: 10px;
    padding: 9px;
    border-radius: 15px;
}
.divA h2{
    font-size: 18px;
}
.headerM{
    font-family: 'Righteous', cursive;
}
.divA p{
    font-family: 'Righteous', cursive;
}

/*Body 3*/
#bodyThree{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;padding-bottom: 30px;
    background-image: url(../Assets/Asset3.png);
}
#bodyThree span{
    width: 100px;
}
.threeWords{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letsPad{
    padding-left:20px;
    padding-right:20px;
    text-align: center;
}
#bodyThree p {
    font-size: 20px;
}
.parG{
    max-width: 600px;
}
/*body4*/
#bodyFour{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#topPart, #bottomPart{
    max-width: 1440px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}
.fourLeft, .fourRight{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 55px;
}
#bodyFour h1{
    font-family: 'Righteous', cursive;
    font-size: 60px;
}
#bodyFour p{
    font-size: 18px;
}
/*body 5*/
#bodyfive{
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    position: relative;
    background-image: url(../Assets/book.png);
}

.stateMent{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 110px;
    color: white;
}
.stateMent h1{
    font-family: 'Righteous', cursive;
    font-size: 60px;
}
.stateMent h3{
    font-family: 'Righteous', cursive;
}